#categories.tab-body

  .page1
    %ul.list-of-categories.categories

  .page2
    %ul.list-of-locations.listing.locations
    .info
    .actions
      = link_to "Retour", "#", :class => "previous"
      = link_to "Rafraichir", "#", :class => "refresh"

  .page3.ui-info