<div id="categories" class="tab-body">
  <ul class="list-of-categories"></ul>
  <ul class="list-of-locations listing" style="display: none"></ul>
  <div class="info"></div>
  <div class="location-details">
    <div class="container" style="background-color: white">
      <img src="/images/highrise.png" />
      <div class="top"></div>
      <div class="clear"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>
  <div class="actions" style="margin-top: 5px; display: none">
    <a href="#" style="margin-left: 17px">Retour</a>
    <a style="float: right; margin-right: 15px" href="#">Rafraichir</a>
  </div>
</div>

<style type="text/css">
  #categories .info {padding: 5px 10px; display: none}
  #categories .container .top {margin-top: 15px}
  #categories .location-details {display: none; padding: 15px}
  #categories .container .clear {margin-bottom: 20px}
  #categories .container {padding: 20px; border: 1px dotted #434343}
  #categories .container img {float: left; margin-right: 20px}
  #categories h2 {margin-top: 5px}
</style>