<div id="localization" class="tab-body">
  <div class="page1">
    <div class="search">
    <input type="text" />
    <input type="submit" value="Rechercher" />
    </div>
    <ul class="listing" style="height: 500px; display: none"></ul>
  </div>
  <div class="page2 ui-info">
    <div class="info" style="display: none; padding: 10px"></div>
  </div>
</div>