<div id="localization" class="tab-body">
  <div class="search">
  <input type="text" />
  <input type="submit" value="Rechercher" />
  </div>
  <div class="info" style="display: none; padding: 10px"></div>
  <ul class="listing" style="height: 500px; display: none"></ul>
</div>