<div id="routing" class="tab-body">
  <div class="departure search">
    <input type="text" class="watermark" value="departure"/>
    <input type="submit" value="Rechercher" />
  </div>
  <ul class="departures listing"></ul>
  <div style="padding: 0 10px 10px; " class="arrival search">
    <input type="text" class="watermark" value="arrival"/>
    <input type="submit" value="Rechercher" />
  </div>
  <ul class="arrivals listing"></ul>
  <ul class="directions listing"></ul>
  <a href="#" style="margin-left: 10px; text-decoration: none; font-weight: bold; color: #434343">Recommencer</a>
</div>
