%table.zebra-striped.bordered-table
  %thead
    %tr
      %th
        %input{:type=>"checkbox"}
      %th Name
      %th GeoCMS Designation
  %tbody
    - for category in @categories
      %tr
        %td.selector
          %input{:type=>"checkbox", :name=>"categories[]", :value => "#{category.id}"}
        %td= link_to category.name, edit_admin_category_path(category)
        %td= category.cms_designation
= render :partial => "shared/paging", :locals => {:collection => @users, :page_size => @per_page}