%table.zebra-striped.bordered-table
  %thead
    %tr
      %th
        %input{:type=>"checkbox"}
      %th Email
      %th Last Login
  %tbody
    - for user in @users
      %tr
        %td.selector
          %input{:type=>"checkbox", :name=>"users[]", :value => "#{user.id}"}
        %td= user.email
        %td
= render :partial => "shared/paging", :locals => {:collection => @users, :page_size => @per_page}