<div id="header" class="demo">
  <a href="http://www.0-one.net/">
    <%= image_tag("logo.png", :id => "logo") %>
  </a>
  <ul>
    <li><a href="http://www.0-one.net/index.php?option=com_content&view=article&id=52&Itemid=69">Services</a></li>
    <li><a href="http://www.0-one.net/index.php?option=com_content&view=article&id=64&Itemid=72">Boutique</a></li>
    <li><a href="http://www.0-one.net/index.php?option=com_content&view=article&id=60&Itemid=84">Soci&eacute;t&eacute;</a></li>
    <li><a href="http://www.0-one.net/index.php?option=com_contact&view=contact&id=2&Itemid=58">Contact</a></li>
  </ul>
  <a href="http://www.facebook.com/group.php?gid=163913321846" style="float: right; margin-right: 10px"><img height="45" src="http://www.socialmediabuttons.com/images/facebook4.gif" title="By SocialMediaButtons.com" border="0" /></a>
</div>
