<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">
<html>
<head>
  <title>0-One</title>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <div style="padding: 50px 40px; ">

    <div id="wrapper" style="padding:  20px; width: 420px">
  <a href="http://www.0-one.net/">
    <%= image_tag("logo.png", :id => "logo") %>
  </a>
      <br/>    <br/>
      <p style="font-family: Arial,serif">You are currently using version 7 or lower of Internet Explorer.</p>
      <br />
      <p style="font-family: Arial,serif; line-height: 22px">To fully enjoy our site, we suggest that you either
      upgrade or download one of these wonderful alternatives.
      </p>
      <br/>
      <p style="font-family: Arial,serif">Click the icon to download your new browser.</p>
      <br/>
      <img src="/assets/images/browser_logos-64.png" id="Image-Maps_9201108231832489" usemap="#Image-Maps_9201108231832489" />
  <map id="_Image-Maps_9201108231832489" name="Image-Maps_9201108231832489">
  <area shape="rect" coords="8,0,69,61" href="http://www.google.com/chrome" alt="Download Chrome" title="Download Chrome"    />
  <area shape="rect" coords="80,0,141,61" href="http://www.mozilla.com/en-US/firefox/new/" alt="Download Firefox" title="Download Firefox"    />
  <area shape="rect" coords="146,0,207,61" href="www.opera.com/download/" alt="Download Opera" title="Download Opera"    />
  <area shape="rect" coords="213,0,274,61" href="http://www.apple.com/safari/download/" alt="Download Safari" title="Download Safari"    />
  <area shape="rect" coords="287,0,348,61" href="http://downloads.yahoo.com/internetexplorer/" alt="Download Internet Explorer" title="Download Internet Explorer"    />
  <area shape="rect" coords="351,64,353,66" href="http://www.image-maps.com/index.php?aff=mapped_users_9201108231832489" alt="Image Map" title="Image Map" />
</map>
      <div style="clear: both"></div>
    </div>
  </div>
</body>
</html>